[tool.poetry]
authors = ["Jon Connell <python@figsandfudge.com>"]
classifiers = [
  "Topic :: Office/Business :: Financial :: Spreadsheet",
  "Programming Language :: Python :: 3",
  "Operating System :: OS Independent",
]
description = "Read and write Apple Numbers spreadsheets"
documentation = "https://github.com/masaccio/numbers-parser/blob/main/README.md"
license = "MIT"
name = "numbers-parser"
packages = [{include = "numbers_parser", from = "src"}]
readme = "README.md"
repository = "https://github.com/masaccio/numbers-parser"
version = "4.4.3"

[tool.poetry.scripts]
cat-numbers = "numbers_parser._cat_numbers:main"
unpack-numbers = "numbers_parser._unpack_numbers:main"

[tool.poetry.dependencies]
compact-json = "^1.1.3"
pendulum = "^2.1.2"
protobuf = "^4.21.1"
python = "^3.8"
python-snappy = "^0.6.1"
regex = "^2022.9.13"
roman = "^3.3"
sigfig = "^1.3.2"

[tool.poetry.group.dev.dependencies]
black = {version = "^22.10.0", allow-prereleases = true}
pylama = "^8.4.1"
pytest = "^7.2.0"
pytest-check = "^1.0.10"
pytest-console-scripts = "^1.3.1"
pytest-cov = "^4.0.0"
pytest-profiling = "^1.7.0"
python-magic = "^0.4.27"
termcolor = "^2.2.0"
gprof2dot = "^2022.7.29"
line-profiler = "^4.0.3"
mock = "^5.1.0"
pytest-xdist = "^3.3.1"
psutil = "^5.9.5"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.coverage.run]
branch = true
omit = ["src/numbers_parser/generated/*.py"]

[tool.coverage.html]
directory = "coverage_html_report"

[tool.pytest.ini_options]
addopts = "--cov=src/numbers_parser --cov-report=term-missing"

[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = true
envlist = py38, py39, py310, py311
[testenv]
allowlist_externals = poetry
commands_pre = poetry install --no-root --sync
commands = poetry run -vvv pytest --import-mode importlib
"""

# linter settings
[tool.pylama]
linters = "pylint,mccabe,pyflakes"
max_line_length = 100
skip = ".bootstrap/*,.tox/*,src/numbers_parser/generated/*,src/debug/lldbutil.py"

[tool.pylama.linter.pycodestyle]
format = "pylint"
ignore = "E203,E231,W503"

[tool.pylama.linter.mccabe]
max-complexity = 15

[tool.pylama.linter.pyflakes]
builtins = "_"
