compact-json
enum-tools
importlib-resources
pendulum
protobuf
python-dateutil
python-snappy
regex
roman
setuptools
sigfig
six
sortedcontainers
sphinx
sphinx_copybutton
sphinx_toolbox
sphinx_nefertiti
wcwidth