compact-json
enum-tools>=0.13.0
importlib-resources
protobuf
python-dateutil
python-snappy
setuptools
sigfig
six
sortedcontainers
sphinx>=8.0,<9.0
sphinx_copybutton
sphinx_toolbox
sphinx_nefertiti
wcwidth