name: Code coverage
on: [push, workflow_dispatch]
jobs:
  run:
    runs-on: ubuntu-latest
    env:
      OS: ubuntu-latest
      PYTHON: '3.13'
    steps:
      - uses: actions/checkout@v4
  
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          python-version: '3.13'
 
      - name: Install libsnappy
        run: sudo apt-get -y install libsnappy-dev

      - name: Install the project
        run: uv sync --locked --all-extras --dev --group docs
  
      - name: Generate coverage report
        run: uv run pytest  -n logical --cov=numbers_parser --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./coverage/reports/
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          files: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
          verbose: true